.page-numbers {
    list-style: none;
    display: flex;
    flex-direction: column;
    }
   li {
    margin-bottom:20px;
    margin-left: -100px;
    width: 18px;
    height: 17px;
    user-select: none;
    border: none;
    a {
      color: white;
      user-select: none;
    }
    button{
      cursor: pointer;
      border:none;
      background: orangered;
      margin-bottom: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }