.HomePage {
    display: flex;
    flex-direction:column;
    max-width: 800vh;
    width: 200vh;
}
.recipe-container{
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}