.LandingPage{
    background: url("./fondo2.jpg");
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Receta{
    background:red;
}