.LandingPage{
    background-image: url("./fondo2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    text-align: center;
}
.Receta{
    font-family: Sansita One;
    font-style: normal;
    font-weight: normal;
    background:#D82465;
    border-radius: 10px;
    cursor: pointer;
    height: 2em;
    width: 9em;
    color: white;
    font-size: 36px;
    border:none;
    margin-top: 41%;
}