.recipe {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  width: 15.625em;
  height: 18.75em;
  text-decoration: none;
  font-style: none;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  h1 {
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0 0 0;
  }
  h3 {
    color: #9a9a9a;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }
  img {
    width: 15.625em;
    height: 11.5681em;
    max-width: 15.625em;
    max-height: 11.5681em;
    margin: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  .recipe-text__separador {
    margin: 5px 0 5px 0;
    width: 64px;
    height: 3px;
    left: 926px;
    top: 1556px;
    background: #c4c4c4;
    border-radius: 55px;
  }
  .recipe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
.detailRecipe{
  grid-auto-flow: column;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title data "
    "image data"
    "data2 data2";
  border-radius: 47px;
  background-color:#F4CBCB;
  width: 65.5em;
  height: 45.875em;
  margin-top: 40px;
}
.data{
  margin-top: 37px;
  margin-left: -30px;
  grid-area: data;
  grid-auto-flow: column;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "datatype datadiets "
    "datahealth datapuntuation"
    "dataresume dataresume";
    .data-type{
      grid-area: datatype;
    }
    .data-title{
      grid-area: datadiets;
    }
    .data-health{
      grid-area: datahealth;
    }
    .data-puntuation{
      grid-area: datapuntuation;
    }
    .data-resume{
      grid-area: dataresume;
      margin-right: 30px;
      text-align: justify;
      margin-bottom:10px;
    }
}
.data2{
  text-align: justify;
  grid-area: data2;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: -10px;
  padding: 30px;
}
.image{
  grid-area: image;
  width: 25.625em;
  height: 18.5681em;
  max-width: 25.625em;
  max-height: 18.5681em;
  margin-left:40px;
  margin-top:10px;
  border-radius: 10px;
}
.title{
  grid-area: title;
  margin-top:20px;
  margin-bottom:10px;
  margin-left:100px;
  max-width: 300px;
}
.detailRecipeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}


