.recipe {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  width: 15.625em;
  height: 18.75em;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  hover: {
    transform: scale(1.05);
  }
  h1 {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin:10px 0 0 0;
  }
  h3 {
    color: #9a9a9a;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin:0;
  }
  img {
    width: 15.625em;
    height: 12.5em;
    max-width: 15.625em;
    max-height: 12.5em;
    margin: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  .separador {
    margin:5px 0 5px 0;
    width: 64px;
    height: 3px;
    left: 926px;
    top: 1556px;
    background: #c4c4c4;
    border-radius: 55px;
  }
  .link {
    text-decoration: none;
    font-style: none;
  }
}
